* {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
}

body {
	background: linear-gradient(45deg, pink, lightblue);
	min-height: 100vh;
}

nav {
	display: flex;
	justify-content: space-around;
	width: 500px;
	min-height: 50px;
	padding: 20px;
	margin: auto;
	text-align: center;
}

.logo {
	display: block;
	margin: 0 auto;
}
